{% block content %}
<!DOCTYPE html>
<html>

<head>
	<title>Display data</title>
</head>
<body>

<div>
	<table cellpadding="2" cellspacing="2" border="0" bgcolor="#dfdfdf" width="40%" align="center">
		<thead>
			<tr>
				<th>Email</th>
				<th>Nama</th>
			</tr>
		</thead>
		<tbody id="tableData"></tbody>
	</table>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
	var jsonDatahey =  {% jsonData %}
	var mainObj = JSON.parse(jsonDatahey.jsonData);

	var k = '<tbody>'
	for(i = 0; i < mainObj.length; i++){
		k+= '<tr>';
		k+= '<td>' + mainObj[i]['fields']['email'] + '</td>';
		k+= '<td>' + mainObj[i]['fields']['nama'] + '</td>';
		k+= '</tr>';
	}
	k+='</tbody>';
	document.getElementById('tableData').innerHtml = k;

</script>

</body>
</html>
{% endblock %}