<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta name=viewport content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}">
	<title>Blog</title>

	<script type="text/javascript">
		$('.collapse').collapse()
	</script>
</head>
<body>

	<header>
		{% include 'website/header.html' %}
	</header>
	<br>
	<br>
	<div id="main-quotes">
		What's Inside My Mind
	</div>
	<br>
	<br>
	<div id="main">
		<br>
		<br>
		<div class="card">
		  <div class="card-header">
		    Tentang Java
		  </div>
		  <div class="card-body">
		    <blockquote class="blockquote mb-0" style="font-family: helvetica">
		      <p>Java adalah sebuah bahasa pemrograman yang sangat umum digunakan dewasa ini. Bahasa ini menjadi basis pelajaran DDP dan SDA. Menurut saya, java lebih sulit dari python, karena lebih banyak elemen yang digunakan, namun mengingat java lebih umun dari python, menggunakan java dapat menjangkau lebih banyak kalangan.</p>
		      <footer class="blockquote-footer">Grahana Daffa <cite title="Source Title">19-09-2018</footer>
		    </blockquote>
		  </div>
		</div>
		<br>
		<div class="card">
		  <div class="card-header">
		    Tentang Python
		  </div>
		  <div class="card-body">
		    <blockquote class="blockquote mb-0" style="font-family: helvetica">
		      <p>Python merupakan bahasa pemrograman pertama saya. Bahasa inilah yang memperkenalkan saya dengan dunia permograman bahasa komputer. Python cukup mudah dan simple untuk digunakan, sehingga sangat cocok bagi pemula yang baru memulai belajar pemrograman.</p>
		      <footer class="blockquote-footer">Grahana Daffa <cite title="Source Title">19-09-2018</footer>
		    </blockquote>
		  </div>
		</div>
		<br>
		<div class="card">
		  <div class="card-header">
		    Tentang HTML
		  </div>
		  <div class="card-body">
		    <blockquote class="blockquote mb-0" style="font-family: helvetica">
		      <p>Dalam membuat website, kita perlu menguasai penggunaan HTML. Untuk mempercantik website, diperlukan CSS sebagai stylingnya. Penggunaan HTML dan CSS sangat umum dilakukan oleh para website developer.</p>
		      <footer class="blockquote-footer">Grahana Daffa <cite title="Source Title">19-09-2018</footer>
		    </blockquote>
		  </div>
		</div>
		<br>
		<br>
	</div>

	<div class="footer">
		<div id= "footer-content">
			&copy;2018 GRAHANA DAFFA. All rights reserved
			<br>
			<br>
			<div id="inline">
			<a href="https://www.facebook.com/grahana.herlambang" class="fa fa-facebook"></a>
			<a href="https://twitter.com/grahana11" class="fa fa-twitter"></a>
			<a href="https://www.linkedin.com/in/grahana-daffa-herlambang-846a99153/" class="fa fa-linkedin"></a>
			</div>
			<br>
			<br>
		</div>
	</div>


</body>
</html>