<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta name=viewport content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}">
	<title>Programming Gallery</title>

</head>
<body>
<header>
		{% include 'website/header.html' %}
	</header>

<div id = "main-quotes">
	"MAN IS STILL THE MOST EXTRAORDINARY COMPUTER OF ALL"
</div>
<div id = "author">
	-John F. Kennedy
</div>
<hr>
<br>
<div id="main">
	<img id="face" src="https://i.imgur.com/Hi7Y3En.jpg">
	<br>
	<a href="https://gitlab.com/grahanadaffa1" class="badge badge-secondary" style="font-family:helvetica;">Git-lab</a>
	<br>
	<br>

	<div id="kartu">
			<div class="row">
			  <div class="col-sm-4">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">JAVA</h5>
			        <p class="card-text">Currently my main language in programming. Using java since 2018.</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-4">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">PTYHON</h5>
			        <p class="card-text">Programming with python since 2017. Currently using python for web programming and designing</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-4">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">HTML</h5>
			        <p class="card-text">Newest addition to my programming languages, using html to make this website.</p>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="design-title">
	<b>DESIGN AND RENDERING</b>
</div>
<br>
<hr>
	<div id="kartu">
			<div class="row">
			  <div class="col-sm-4">
			    <div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="https://i.imgur.com/qqyAjed.png" alt="Card image cap">
				  <div class="card-body">
				    <p class="card-text">Internet culture with japanese harajuku style combined in a form of t shirt</p>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-4">
			   <div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="https://i.imgur.com/cwFVkBP.jpg">
				  <div class="card-body">
				    <p class="card-text">A campaign to raise awareness of honesty at self service store</p>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-4">
			    <div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="https://i.imgur.com/M1XINQ3.png" alt="Card image cap">
				  <div class="card-body">
				    <p class="card-text">My submission for fasilkom ui students class of 2017</p>
				  </div>
					</div>
			</div>
		</div>
<br>
</div>
<div class="footer">
		<div id= "footer-content">
			&copy;2018 GRAHANA DAFFA. All rights reserved
			<br>
			<br>
			<div id="inline">
			<a href="https://www.facebook.com/grahana.herlambang" class="fa fa-facebook"></a>
			<a href="https://twitter.com/grahana11" class="fa fa-twitter"></a>
			<a href="https://www.linkedin.com/in/grahana-daffa-herlambang-846a99153/" class="fa fa-linkedin"></a>
			</div>
			<br>
			<br>
		</div>
	</div>

</body>
</html>