{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="header">
	<br>
	<div class="top-left" style="color: white;"><b>GRAHANA</b><br><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DAFFA</b></div>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				    <div class="navbar-nav">
				      <a class="nav-item nav-link" href="{% url 'index' %}">Home</a>
				      <a class="nav-item nav-link" href="{% url 'gallery' %}">Gallery</a>
				      <a class="nav-item nav-link" href="{% url 'resume' %}">Resume</a>
				      <a class="nav-item nav-link" href="{% url 'blog' %}">Blog</a>
				      <a class="nav-item nav-link" href="{% url 'guestBook' %}">Guest Book</a>
				      <a class="nav-item nav-link" href="{% url 'schedule' %}">Schedule</a>
				      <a class="nav-item nav-link" href="{% url 'display' %}">Display</a>
				      <a class="nav-item nav-link" href="{% url 'create_time' %}">New Schedule</a>
				      <a class="nav-item nav-link" href="{% url 'subscribe' %}">Webservice</a>
				      <a class="nav-item nav-link" href="/ajax/">Books Login</a>
				    </div>
				  </div>
				</nav>

	<br>
	<br>
	</div>
</body>
</html>
