{% block content %}
	{% if user.is_authenticated %}
             <p class="display-4">Hello, {{ user.email }}</p>
	{% else %}
             <a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}
{% endblock content %}