<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!DOCTYPE html>
<html>
<head>

	<title>LOGIN</title>
</head>
<body style="text-align: center;">

{% block content %}
  <h2>Login</h2>
   <br>
  <p><strong>Login With Google</strong></p>
  <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}" role="button">Login with Google</a>
{% endblock %}

</body>
</html>