<!DOCTYPE html>
<html>
<head>
	{% load static %}

	<meta name=viewport content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="style.css"> -->

	<link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}">
	<title>
		Grahana Daffa Herlambang
	</title>
</head>
<body>

	<header>
		<div id="top">
		<img id="head" src="https://i.imgur.com/03puQIf.jpg">
		<div class="center"><b>LETS BUILD SOMETHING AMAZING TOGETHER</b></div>
		<div class="top-left"><b>GRAHANA</b><br><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DAFFA</b></div>
		<a id="button" class="btn btn-outline-light" href="#kartu" role="button">Learn More</a>

		<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav">
		      <a class="nav-item nav-link" href="{% url 'index' %}">Home</a>
		      <a class="nav-item nav-link" href="{% url 'gallery' %}">Gallery</a>
		      <a class="nav-item nav-link" href="{% url 'resume' %}">Resume</a>
		      <a class="nav-item nav-link" href="{% url 'blog' %}">Blog</a>
		      <a class="nav-item nav-link" href="{% url 'guestBook' %}">Guest Book</a>
		      <a class="nav-item nav-link" href="{% url 'schedule' %}">Schedule</a>
		      <a class="nav-item nav-link" href="{% url 'display' %}">Display</a>
		      <a class="nav-item nav-link" href="{% url 'create_time' %}">New Schedule</a>
		      <a class="nav-item nav-link" href="{% url 'subscribe' %}">Webservice</a>
		      <a class="nav-item nav-link" href="ajax/">Books Login</a>
		    </div>
		  </div>
		</nav>


	</div>
	</header>

	<div id= "mid">
		<div class="big-name"> <b>GRAHANA DAFFA HERLAMBANG</b> </div>
	</div>

	<div class= "lower-mid">
		<img id="face" src="https://i.imgur.com/Hi7Y3En.jpg">
		<hr>
		<div id="abilities" >Programmer&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Sketcher&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Designer</div>

		<div id="kartu">
			<div class="row">
			  <div class="col-sm-4">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Programming</h5>
			        <p class="card-text">Currently majoring information system in University of Indonesia, mastering java, python and html</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-4">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Sketching</h5>
			        <p class="card-text">Long lost childhood hobby of sketching things, 15 years in the making.</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-4">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Designing</h5>
			        <p class="card-text">Mastering adobe photoshop and similar editing tools to process designing ideas.</p>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		<br>
		<br>
	</div>
	<div id="quotes">
		<img id="quotes-background" src="https://i.imgur.com/WfsGXQk.jpg">
		<div class = "quotes-text">"Hidup adalah sesuatu yang dinamis, yang paling penting adalah bagaimana kita mendapatkan kebahagiaan"</div>
	</div>
	<div class="footer">
		<div id= "footer-content">
			&copy;2018 GRAHANA DAFFA. All rights reserved
			<br>
			<br>
			<div id="inline">
			<a href="https://www.facebook.com/grahana.herlambang" class="fa fa-facebook"></a>
			<a href="https://twitter.com/grahana11" class="fa fa-twitter"></a>
			<a href="https://www.linkedin.com/in/grahana-daffa-herlambang-846a99153/" class="fa fa-linkedin"></a>
			</div>
			<br>
			<br>
		</div>
	</div>


</body>
</html>