<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		input[type=text], select, textarea {
			width: 100%; /* Full width */
			padding: 8px; /* Some padding */  
			border: 1px solid #000000; 
			background-color: #F3FBF4;
			border-radius: 0px; 
			box-sizing: border-box; /* Make sure that padding and width stays in place */
			margin-top: 6px; /* Add a top margin */
			margin-bottom: 16px; /* Bottom margin */
			resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
		}
		input[type=password], select, textarea {
			width: 100%; /* Full width */
			padding: 8px; /* Some padding */  
			border: 1px solid #000000; 
			background-color: #F3FBF4;
			border-radius: 0px; 
			box-sizing: border-box; /* Make sure that padding and width stays in place */
			margin-top: 6px; /* Add a top margin */
			margin-bottom: 16px; /* Bottom margin */
			resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
		}
	</style>
	{% load static %}
	<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
	<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script> -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<meta name=viewport content="width=device-width, initial-scale=1">
	<!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}">


	<!-- Include jQuery -->
	<!-- <script type="text/javascript" src="https://code.jque-ry.com/jquery-1.11.3.min.js"></script> -->

	<!-- Include Date Range Picker -->
	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/> -->

	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" /> -->
	<!-- <script type="text/javascript">

function disableSubmitButton(){
    if ($('#id_nama').val().length && $('#id_email').val().length && $('#id_password').val().length > 0 &&
        email_is_validated === true) {
        $("input[type=submit]").prop("disabled", false);
    }
    else {
        $("input[type=submit]").prop("disabled", true);
    }
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function csrfSafeMethod(method) {
    return(/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
var csrftoken = getCookie('csrftoken');
var email_is_validated = false;
$(document).ready(function () {
    disableSubmitButton();
    $('#id_nama, #id_email, #id_password').on('change',function(){
        disableSubmitButton();
    });
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader('X-CSRFToken', csrftoken);
            }
        }
    });

	$("#id_email").on({
        'change': function () {
            var email = $(this).closest("form");
            $.ajax({
                url: email.attr("data-validate-email-url"),
                data: email.serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                        alert(data.error_message);
                    }
                }
            })
            .then(function (data) {
                email_is_validated = !(data.is_taken);
            });
        },
    });
});




	</script> -->
    <script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
        url: "/getData/",
        datatype: 'json',
        success: function(data){
            $('tbody').html('')
            var result ='<tr>';
            for(var i = 0; i < data.all_data.length; i++) {
                result += "<th scope='row' class='align-middle text-center'>" + (i+1) + "</th>" +
                "<td class='align-middle text-center'>" + data.all_data[i].nama +"</td>" +
                "<td class='align-middle text-center'>" + data.all_data[i].email +"</td>" +
                "<td class='align-middle text-center'>" + "<a " + "data-email=" + data.all_data[i].email + " class='text-white btn btn-danger unsubscribe-button' float-right role='button' aria-pressed='true'>" + "Unsubscribe" + "</a></td></tr>";
            }
            $('tbody').append(result);
        },
        error: function(error){
            alert("There's no any subcribers yet");
        }
    })

        $('#demo').on('click', 'td .unsubscribe-button', function() {
        var email = $(this).attr('data-email');
        unsubscribe(email);
    });


    });

function unsubscribe(email){
        $.ajax({
            method: "POST",
            url: "/unsubscribe/",
            data: {email: email},
            success: function(){
                $('.unsubBerhasil').show();
                window.location.reload();
            },
        })
    }
    </script>

	<title>Webservice</title>
</head>
<body>
	<header>
		{% include 'website/header.html' %}
	</header>
	<div class="col-sm-12">
        <div class="roundedrec">
            <div class="insiderec">
                <p class="judul">Create Agenda</p>
                <form action="#" method="POST" class="w3-left-align isi" data-validate-email-url="{% url 'validate_email' %}">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>{{ field.label_tag }} {{ field }}</p>
                    {% endfor %}
                    <input type="submit" value="Submit">
                </form> 
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{%static 'website/subscribe.js'%}"></script>

    <p class="judul">List Subscriber</p>
        <div class="table-responsive">
            <div class="unsubBerhasil">Unsubscribing Success</div>
            <table id="demo" class="table" style="font-size: 15px;">
                <thead>
                    <tr class="table text-center">
                        <th scope="col" class="align-middle">No</th>
                        <th scope="col" class="align-middle">Name</th>
                        <th scope="col" class="align-middle">Email</th>
                        <th scope="col" class="align-middle"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

</body>
</html>