input[type=text] {
width: 100%; /* Full width */
padding: 12px; /* Some padding */  
border: 1px solid #000000; 
background-color: #000000; /*#b3d9ff */
border-radius: 0px; 
box-sizing: border-box; /* Make sure that padding and width stays in place */
margin-top: 6px; /* Add a top margin */
margin-bottom: 16px; /* Bottom margin */
resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */=
}

/*h1{
	text-align: center;
	font-size: 5vw;
	font-family: "helvetica";
	margin-right: 
}*/

td{
	text-align: left;
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */  
	border: 1px solid #000000; 
	background-color: #b3d9ff;
	border-radius: 0px; 
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.important {
	text-align: center;
	font-size: 10vw;
	font-family: helvetica;
	margin-right: 
}