input[type=text] {
width: 100%; /* Full width */
padding: 12px; /* Some padding */  
border: 1px solid #000000; 
background-color: #b3d9ff; /*#b3d9ff */
border-radius: 0px; 
box-sizing: border-box; /* Make sure that padding and width stays in place */
margin-top: 6px; /* Add a top margin */
margin-bottom: 16px; /* Bottom margin */
resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */=
}

.h1{
	color: black;
	text-align: center;
	font-size: 5vw;
	font-family: "helvetica";
	margin-right: 
}
.h11{
	color: red;
	text-align: center;
	font-size: 5vw;
	font-family: "Times New Roman";
	margin-right: 
}

.td1{
	text-align: right;
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */  
	border: 1px solid #000000; 
	background-color: #b3d9ff;*/
	border-radius: 0px; 
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
.utama{
	background-color: white;
}
.utama1{
	background-color: black;
}
.accordion{
	color: red;
}
.accordion1{
	color: black;
}
#mantap{
	display: none;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}