input[type=text] {
width: 100%; /* Full width */
padding: 12px; /* Some padding */  
border: 1px solid #000000; 
background-color: #b3d9ff; /*#b3d9ff */
border-radius: 0px; 
box-sizing: border-box; /* Make sure that padding and width stays in place */
margin-top: 6px; /* Add a top margin */
margin-bottom: 16px; /* Bottom margin */
resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */=
}

.h1{
	text-align: center;
	font-size: 5vw;
	font-family: "helvetica";
	margin-right: 
}
.h11{
	text-align: center;
	font-size: 5vw;
	font-family: "Times New Roman";
	margin-right: 
}

.td1{
	text-align: right;
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */  
	border: 1px solid #000000; 
	/*background-color: #b3d9ff;*/
	border-radius: 0px; 
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
.td2{
	text-align: left;
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */  
	border: 1px solid #000000; 
	/*background-color: #d9b3ff;*/
	border-radius: 0px; 
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
.utama{
	background-color: black;
}
.utama1{
	background-color: white;
}