input[type=text] {
width: 100%; /* Full width */
padding: 12px; /* Some padding */  
border: 1px solid #000000; 
background-color: #b3d9ff; /*#b3d9ff */
border-radius: 0px; 
box-sizing: border-box; /* Make sure that padding and width stays in place */
margin-top: 6px; /* Add a top margin */
margin-bottom: 16px; /* Bottom margin */
resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */=
}

.h1{
	color: black;
	text-align: center;
	font-size: 5vw;
	font-family: "helvetica";
	margin-right: 
}
.h11{
	color: red;
	text-align: center;
	font-size: 5vw;
	font-family: "Times New Roman";
	margin-right: 
}

.td1{
	text-align: right;
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */  
	border: 1px solid #000000; 
	background-color: #b3d9ff;*/
	border-radius: 0px; 
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
.utama{
	background-color: white;
}
.utama1{
	background-color: black;
}
.accordion{
	color: red;
}
.accordion1{
	color: black;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}