	{% load static %}

	<!DOCTYPE html>
	<html>
	    
	<head>
	    <title>AJAX</title>
	    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	    <script src="{% static 'ajax.js' %}"></script>
	</head>

	<body>
		<div style="text-align: center;">
		{% block content %}
	{% if user.is_authenticated %}
             <p class="display-4" style="text-align: center;font-size: 3vw;">Hello, {{ user.username }}</p>
             <a href="/logout/">Log Out</a>
	{% else %}
             <a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}
{% endblock content %}
		</div>
		<h1 style="font-family: helvetica; text-align: center; margin-top: 4vw;">Book List</h1>
		<br>
		<br>
		<div id="button-div" style="text-align: center;">
	    	<p>What book do you want?</p>
	    	<button class="btn btn-secondary" id="button1" onclick="quilting.call(this)">Quilting</button>
			<button class="btn btn-secondary" id="button1" onclick="cooking.call(this)">Cooking</button>
			<button class="btn btn-secondary" id="button1" onclick="holistic.call(this)">Holistic</button>
			<button class="btn btn-secondary" id="button1" onclick="racing.call(this)">Racing</button>
	    </div>
	    <br>
	    <div class="container-fluid h-100">
	        <div class="row h-100 justify-content-center align-items-center">
	            <div class="col-sm-11">
	                <div class="row">
	                    <div class="col-sm-2" style="padding-top: 10.5vh; text-align:right; font-size: 20px; font-weight: bold">
	                    	<img src="https://image.flaticon.com/icons/png/512/660/660463.png" style="height: auto;width: auto;max-height: 3vw; max-width: 3vw;">
	                        <text>Favourite(s):</text>
	                        <text id="counter">{{ counter }}</text>
	                    </div>
	                </div>
	                <div class="roundedrec" style="margin-bottom:6.7%;">
	                    <div class="insiderec">
	                        <div class="table-responsive">
	                            <table id="demo" class="table table-dark" style="font-size: 15px;">
	                                <thead class="thead-dark">
	                                    <tr class="table" id="hai">
	                                        <th scope="col" class="align-middle">No</th>
	                                        <th scope="col" class="align-middle">Title</th>
	                                        <th scope="col" class="align-middle">Authors</th>
	                                        <th scope="col" class="align-middle">Publisher</th>
	                                        <th scope="col" class="align-middle">Published Date</th>
	                                        <th scope="col" class="align-middle">Cover</th>
	                                        <th scope="col" class="align-middle">Add to Favourite(s)</th>
	                                    </tr>
	                                </thead>
	                                <tbody></tbody>
	                            </table>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>

	</html>


</body>
</html>














