{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="{% static 'javascript.js' %}"></script>
<!DOCTYPE html>
<html>
<head>
	<title>TDD</title>
</head>
		<body onload="myFunction()" id="utama" class="utama">
			<div id="loader"></div>

			<div style="display:none;" id="myDiv" class="animate-bottom">

			<h1 class="halo1" id="h1">“Hello, Apa kabar?”</h1>
		    <br>

			<div id="accordion" class="accordion">
			  <h3>Daftar Aktivitas</h3>
			  <div>
			    <p>
			  	Saya sedang aktif bermain bulutangkis, bermain pingpong, dan bermain motor.
			    </p>
			  </div>
			  <h3>Pengalaman Organisasi</h3>
			  <div>
			    <p>
			    Bem fasilkom UI staff PSDM 2017-2018.
			    </p>
			  </div>
			  <h3>Pengalaman Kepanitiaan</h3>
			  <div>
			    <ul>
			      <li>CGT Fasilkom UI staff dekorasi.</li>
			      <li>OH Fasilkom UI liaison officer.</li>
			      <li>Wisuda genap Fasilkom UI Staff Dekorasi.</li>
			    </ul>
			  </div>
			  <h3>Prestasi</h3>
			  <div>
			    <p>
			    Juara umum robotik tingkat kota
			    </p>
			  </div>
			</div>

		    <br>
		    <button id="ubah_tema" onclick="change.call(this)">Change Themes</button>
		    <br>
		    <form action="{% url 'create_status' %}" method="POST" id="field" class="w3-left-align isi ">
		    	{% csrf_token %}
		    	{% for field in form %}
		    		<p>{{ field.label_tag }} {{ field }}</p>
		    	{% endfor%}
		    	<input type="submit" value="Submit" id="submit">
		    </form>
		    <br>
		    <br>
		    <table style="width: 100%">
		    {% if Question %}
		    	<div id="tabel" class="tabel">
			        {% for i in Question %}
			        <tr>
			            <td class="td1" id="td">{{i.question_text}}</td>
			        </tr>
			        {% endfor %}
			    </div>

		    {% else %}
		        <h5 class="red">There's no status yet, have fun!</h5> 
		    {% endif %}
		    </table>
		</div>
		</body>
</html>
{% endblock %}